/* styles.css */

 body  {
    font-family: "Roboto", serif;
    font-weight: 300;
    /* font-style: normal; */
    font-size: 14px;
    line-height: 1.6;
    margin: 0px;
    padding: 0;
    /* background-color:#001F3F; */
    overflow: auto;
}

 .container-body {

    display: flex; /* Flexbox layout to position sidebar and content side-by-side */
    width: 100%; /* Ensure it spans the full width of the page */
    height: 100vh; /* Full viewport height for consistent layout */
    overflow: hidden;
    background-image: url('https://framerusercontent.com/images/3EmVyWTsuFBgtQOVW118OD0o2ow.svg');
    background-size: cover;       /* or 'contain' depending on design intent */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* optional: for parallax-like effect */
    color: white;
}

header {
    /* background-color:#001F3F; */
    color: white;
    text-align: start;
}

.wrapper-sidebar {
    width: 500px; /* Fixed width for the sidebar */
    position: fixed; /* Keep sidebar fixed on the left */
    top: 20px;
    left: 50px;
    height: 100%; /* Ensure sidebar spans the full height */
    padding: 20px;
    box-shadow: 2px 0 5px #001F3F;
}

.wrapper-content 
{ 
    margin-left: 650px;/* Offset by the sidebar width */
    margin-right: 50px;
    margin-top: 20px;
    flex-grow: 1; /* Take up remaining space */
    padding: 20px;
    height: 100vh;
    overflow-y: auto; /* Full height to allow proper scrolling */
    /* background-color: #fff; Optional: visual distinction */
}

.topnav {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 400;
    font-style: bold;
    color: white;
    margin-top: 10px;
}

.topnav a{
        text-decoration: none;
}

.topnav a:hover{
    color: #4d8cff;
    text-decoration: underline;
    text-decoration-color: #4d8cff;
}

.hero p{
      color: white;
}
/* nav ul li {
    margin: 0;
} */

nav ul li a {
    color: #4d8cff;
    text-decoration:#F0F3F4 underline;

}

h1
{
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: bold;
    /* background-color:#001F3F; */
    color: #4d8cff;
}

h2, h3, h4, h5
{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: bold;
    /* background-color:#001F3F; */
    color: #4d8cff;
}

section .about{
    padding: 0 10px;
    margin: 0 20px;
    display: grid;
    grid-column: auto;
}

.about a{
    font-weight: 400;
    font-style: bold;
    color: white;
    text-decoration: none;
}

.about a:hover{
    color: white;
}


.skills-list {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
}

.flipbox {
    position: relative;
    width: 50%;
    height: auto; /* Adjust height for the tiles */
    min-height: 200px; 
    margin-bottom: 30px;
    transform-style: preserve-3d;
    transition: transform 2s ease; /* Smooth flip animation */
}

.flipbox:hover {
    transform: rotateY(180deg); /* Flip on hover */
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-radius: 10px;
    backface-visibility: hidden; /* Hide the backface when not visible */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); */
}

.front {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: bold;
    font-size: medium;
    /* background-color:#001F3F; */
    color: white;
}

.back {
    /* background-color:#4d8cff; */
    transform: rotateY(180deg);
    flex-direction: column;
    /* padding: 10px; */
}

.back ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.back li {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: bold;
    font-size: small;
    margin: 5px 0;
    padding: 2px;
    /* background-color: #001F3F;; */
    border-radius: 5px;
    color: white;
    text-align: center;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

section .experience{
    padding: 0 10px;
    margin: 0 20px;
    display: grid;
    grid-column: auto;
}

ol{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.workpara header{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: bold;
    font-size: small;
    color: white;
    margin-top: 2px;
}

.workpara li{
        margin: 0;
        padding: 0;
}

.workpara li p{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 1.8;
    color: white;

}

/* .workpara ol
{
    display: flex;
    flex-direction: column;
    margin: 0;
} */
.work-exp-header
{
    display: grid;
    grid-template-columns: 30% 70%;
}

.work-exp-info h4
{
   padding: 0;
   margin: 0;
}

.work-exp-info ul
{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 1.8;
    padding: 0;
    color:#4d8cff;
    list-style-type: none;
}

.work-exp-info li
{
    display: inline-block;
    padding: 4px 5px;
    background-color: darkslategray; /* Button background color */
    color: #AEEEEE; /* Text color */
    border-radius: 12px; /* Rounded corners */
    border: none; /* No border */
    text-align: center; /* Center text */
    font-size: 14px; /* Adjust font size */
    font-weight: 400;
    margin-left: 3px; /* Add space between buttons */
    margin-right: 3px;
    margin-bottom: 5px;

    
}

section .projects{
    padding: 0 10px;
    margin: 0 20px;
    display: grid;
    grid-column: auto;
}
section .contact{
    padding: 0 10px;
    margin: 0 20px;
    display: grid;
    grid-column: auto;    
}
section .hero{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    margin-bottom: 1em;

}

div ul 
{
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

div li {
    padding: 5px;
    margin: 0;
} 

.hero-foot
{
    padding: 0 5px;
}


.project {
    display: flex;
    flex-direction: column;
    /* background-color:#001F3F; */
    color: white;
    padding: 0;
    margin: 0;
}

.project h4{
    color: #AEEEEE;
    margin: 0;
    padding: 0;
}

.project h5{
    font-family: "Roboto", serif;
    font-weight: 300;
    font-size: medium;
    font-style: normal;
    color: white;
    line-height: 1.6;
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
}

.project p{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 1.8;
    color: white;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}

.project a{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: bold;
    /* font-size: small; */
    line-height: 1.6;
    padding: 0;
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
}

.project a :hover{
    color: #AEEEEE;
    text-decoration: underline;
    text-decoration-color: #4d8cff;
}
.project .projectImage{
    padding: 20px 0;
}

.project ul
{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 1.8;
    padding: 0;
    color:#4d8cff;
    list-style-type: none;
    margin-bottom: 10px;
}

.project li
{
    display: inline-block;
    padding: 4px 5px;
    background-color: darkslategray; /* Button background color */
    color: #4d8cff; /* Text color */
    border-radius: 12px; /* Rounded corners */
    border: none; /* No border */
    text-align: center; /* Center text */
    font-size: 14px; /* Adjust font size */
    font-weight: 400;
    /* margin-left: 1px; Add space between buttons */
    margin-right: 3px;
    margin-bottom: 10px;
}

.contact a{
    color: #F0F3F4;
}
.contact {
  padding-bottom: 50px;
}
/* footer {
    text-align: center;
    padding: 10px 0;
    color: #4d8cff;
}  */

@media screen and (max-width: 600px) {
    .container-body {
        flex-direction: column;
        height: auto;
        overflow: visible;
    }

    .wrapper-sidebar {
        width: 100%;
        height: auto;
        position: relative;
        top: 0;
        left: 0;
        padding: 10px;
        box-shadow: none;
    }

    .wrapper-sidebar .topnav {
        display: none; /* Optional: Add a mobile hamburger menu here */
    }

    .wrapper-content {
        margin: 0;
        width: 100%;
        padding: 10px;
    }

    .skills-list {
        flex-direction: column;
        gap: 10px;
    }

    .flipbox {
        width: 100%; /* full width */
        min-height: 180px;
    }

    .work-exp-header {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    h1 {
        font-size: 1.5em;
    }

    h2, h3, h4, h5 {
        font-size: 1.2em;
    }

    .project ul li, .work-exp-info li {
        font-size: 12px;
        padding: 3px 6px;
    }
}